html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.falling{
  transform: translateY(100vh);
  animation-name: falling;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes falling{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(100vh);
  }
}